body {
  background-color: #F5F5DC;
  margin: 0;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: #FF8C00;
}

.icon-search-input {
    position: absolute;
    right: 610px;
    top: 154px;
}

.base {
    width: 100%;
    border-bottom: 5px solid red;
    background-color: #ffffff;
}

.container{
    width: 80%;
    padding: 0px;
    margin: 0 auto;
}
.mainbody,
.header {
    padding: 10px;
}
.mainbody {
    margin-top: 0;
    background-color: #F5F5DC;
}
.header {
    height: 90px;
}
/*.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    background-color: transparent;
    padding: 10px;
}
.grid-item {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}*/


.img-item {
    padding: 5px;
    width: 150px;
    height: 200px;
    margin: 0 auto;
}

.topnav {
    padding-left: 15px; 
}
/* Style the links inside the navigation bar */
.topnav a {
  color: #FF0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

 .user{
    position: relative;
    top: 0px;
    color:#FF8C00;
    padding-left: 200px;
 }

 input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    display: block;
    margin : 0 auto;
    width: 700px;
}

hr {
    border: 0;
    border-top: 1px solid #808080;
    width: auto;
}
.titles{
    color:#FF8C00;
}
.search_div{
    margin: 25px;
}
.empty_data_text{
    color: #D3D3D3;
}

.header_wrap{
    float: right;  
}